@font-face {
  font-family: Gilroy;
  src: url("../assets/fonts/gilroy/Gilroy-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body.modal-open {
  overflow: hidden;
}

body {
  background-color: #0e0a01;
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow-x: hidden;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  background: #0e0a01;
  position: absolute;
  z-index: -100;
  top: 105px;
  left: 90px;
  width: 100%;
  height: 100%;
  max-width: 1353px;
}

p {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

input {
  outline: none;
  border: none;
}

input:focus {
  outline: none;
  border: none;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

img {
  max-width: 100%;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
}

svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

/* ===========КОНТЕЙНЕР МЕЙНА============= */



.first__wrap__main {
  max-width: 1200px;
  width: 100%;
}

.profile__title {
  font-weight: 500;
  font-size: 14px;
  color: #9f8f6b;
  user-select: none;
}

.profile__title span {
  text-decoration: underline;
}

.profile__main__container {
  display: flex;
  gap: 32px;
  width: 100%;
  margin-bottom: 120px;

}



/*================= НАВИГАЦИЯ=============== */




.profile__nav {
  flex-direction: column;
  background: #161003;
  border: 1px solid #251c06;
  border-radius: 16px;
  max-width: 241px;
  width: 100%;
  overflow: hidden;
  padding: 16px 0;
  margin-right: 32px;
  max-height: 264px;
}

.profile__nav__item.active {
  background: #1f1704;
  color: #fff;
  border-left: 5px solid #e8b21d;
}

.profile__nav__item {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #7c612f;
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
}

.profile__nav__item span {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}


/* content */

.content__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.history {
  padding: 24px;
  border: 1px solid #251c06;
  border-radius: 16px;
  background: #161003;
  font-family: Gilroy;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 819px;
}

.title {
  font-weight: 600;
  font-size: 20px;
}

.date__time__filter {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 16px;
}

.date {
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #3b2b0d;
  border-radius: 16px;
  background-color: rgba(35, 27, 11, 0.7);
  text-align: center;
}



.modal__balance__button-container {
  margin: 0;
  transform: translateY(-4px);
  margin-left: 20px;
}

.modal__balance__button-shadow-bgc-correct {
  width: 131px;
}

.modal__balance__button-shadow {
  width: 131px;
}

.modal__balance__button-shadow-bgc {
  width: 131px;
}

.modal__balance__button-signin {
  width: 131px;
}

.text__modal__balance__button {
  transform: skew(10deg);
}

.filter__header {
  margin: 0 -24px;
  padding: 0 36px;
  background: #1f1704;
  display: flex;
  align-items: center;
  gap: 95px;
  height: 41px;
}

.filter__header div {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}

.content {
  display: none;
}

.content__underfind {
  margin: 40px 0 20px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.content__underfind img{
  max-width: 78px;
}
.content__underfind div {
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
}

.requests {
  padding: 24px;
  border: 1px solid #251c06;
  border-radius: 16px;
  background: #161003;
  font-family: Gilroy;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 819px;
}






/* ==================== М О Д А Л К А =================== */





.modal-overlay {
  position: absolute;
  display: none;
  visibility: hidden;
  opacity: 0;
  top: 0px;
  z-index: 101;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  margin-top: 400px;
  background: var(--gray-gray-900, #0e0a01);
  border-radius: 12px;
  width: 1128px;
  min-height: 610px;
  max-height: 934px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal label {
  font-family: Gilroy;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 32px;
}

.tab {
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  color: #aaa;
  font-size: 16px;
  cursor: pointer;
  padding-top: 20px;
  width: 146px;
  height: 56px;
  border-bottom: 2px solid var(--gray-gray-400, #3b2b0d);
  margin-right: 20px;
}

.tab.active {
  color: white;
  border-bottom: 2px solid #ffc300;
}

.modal__overlay__tabs-icon {
  box-sizing: border-box;
  padding: 0 0;
  margin: 0 0;
  width: 20px;
  height: 20px;
}

.subtabs {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 10 auto;
  font-size: 14px;
  color: #aaa;
  margin-bottom: 32px;
}

.subtab.active {
  color: #ffc300;
  text-decoration: underline;
}

.modal__switch-html-deposit {
  /* display: none;
  opacity: 0;
  visibility: hidden; */
}

.section {
  width: 1064px;
}

.input-row {
  display: flex;
  gap: 26px;
  margin-top: 10px;
  margin-bottom: 36px;
}

.input-box {
  background: var(--gray-gray-800, #161003);
  width: 519px;
  height: 110px;
  border-radius: 8px;
  flex: 1;
  color: white;
  font-size: 55px;
}

.input-box input {
  box-sizing: border-box;
  padding: 10px;
}

.input-box.large {
  height: 110px;
  width: 1064px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.bottom-button {
  width: 298px;
  height: 41px;
  margin-top: 46px;
  background: none;
  border: 1px solid #444;
  border-radius: 8px;
  color: #aaa;
  padding: 10px;
  cursor: pointer;
}

.crypto-grid {
  display: grid;
  grid-template-columns: repeat(4, 246px);
  gap: 24px;
  padding: 0;
  margin-top: 10px;
}

.input-box.selected {
  border: 2px solid #00aaff;
}

.input-box.crypto {
  width: 246px;
  height: 110px;
  margin-bottom: 24px;
}

.modal__switch-html-withdraw {
  height: 961px;
}

.modal__switch-html-history {}

.history-table {
  width: 1128px;
  border-collapse: collapse;
  background-color: #1a130a;
  font-size: 14px;
  table-layout: fixed;
}

.history-table thead {
  background-color: #2a1f11;
  color: #ccc;
}

.history-table th,
.history-table td {
  padding: 12px 15px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-family: Gilroy;
}

.type-button span {
  color: #fed970;
}

.type-button {
  background: #f9af1a42;
  font-family: Gilroy;
  border: none;
  color: #fff;
  padding: 5px 12px;
  border-radius: 4px;
  cursor: default;
  font-weight: 600;
  font-size: 14px;
}

.history-table-headers {
  width: 1128px;
  color: #e0caa3;
}

.subtab.unactive {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.modal__deposit__helpButton-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}