@font-face {
  font-family: Gilroy;
  src: url("../assets/fonts/gilroy/Gilroy-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body.modal-open {
  overflow: hidden;
}

body {
  background-color: #0e0a01;
  font-size: 14px;
  margin: 0;
  padding: 0;

  overflow-x: hidden;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.background {
  background: #0e0a01;
  position: absolute;
  z-index: -100;
  top: 105px;
  left: 90px;
  width: 100%;
  height: 100%;
  max-width: 1353px;
}

input {
  outline: none;
  border: none;
}

input:focus {
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
}

svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.first__wrap__main {
  margin-left: 120px;
}

.profile__title {
  font-weight: 500;
  font-size: 14px;
  color: #9f8f6b;
  user-select: none;
}

.profile__title span {
  text-decoration: underline;
}

.profile__main__container {
  display: flex;
}

.profile__nav {
  display: flex;
  flex-direction: column;
  background: #161003;
  border: 1px solid #251c06;
  border-radius: 16px;
  max-width: 241px;
  overflow: hidden;
  padding: 16px 0;
  margin-right: 32px;
  max-height: 316px;
}

.profile__nav__item.active {
  background: #1f1704;
  color: #fff;
  border-left: 5px solid #e8b21d;
}

.profile__nav__item {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #7c612f;
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
}

.profile__nav__item span {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.profile__slider {
  display: flex;
  gap: 12px;
  margin-bottom: 32px;
}

.profile__slide.active {
  border: 1px solid #fed970;
  background: linear-gradient(180deg,
      rgba(155, 78, 38, 0.5) 0%,
      rgba(53, 27, 13, 0) 100%);
  opacity: 1;
}

.profile__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 12px;
  width: 90px;
  height: 106px;
  opacity: 0.7;
}

.profile__slide.level__2 {
  background: url("../assets/img/levels/bg2.png");
}

.profile__slide.level__3 {
  background: url("../assets/img/levels/bg3.png");
}

.profile__slide.level__4 {
  background: url("../assets/img/levels/bg4.png");
}

.profile__slide.level__5 {
  background: url("../assets/img/levels/bg5.png");
}

.profile__slide.level__6 {
  background: url("../assets/img/levels/bg6.png");
}

.profile__slide.level__7 {
  background: url("../assets/img/levels/bg7.png");
}

.profile__slide.level__8 {
  background: url("../assets/img/levels/bg8.png");
}

.profile__slide.level__9 {
  background: url("../assets/img/levels/bg9.png");
}

.profile__slide.level__10 {
  background:
    url('../assets/img/levels/bg10.png') no-repeat,
    linear-gradient(180deg, #3b2b0d 0%, #93680f 100%);
  background-size: cover;
  /* если хочешь, чтобы растянулось */
  background-position: center;
}



.profile__slide.active::before {
  content: "";
  background: none;
}

.profile__slide::before {
  content: "";
  background: url("../assets/img/levels/lockIcon.png");
  width: 36px;
  height: 36px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile__slide.active .profile__slide__level {
  background: #fed970;
  color: #000;
}

.profile__slide.level__10 .profile__slide__level {
  background: #e8b21d;
  color: #0e0a01;
}

.profile__slide__level {
  border-radius: 22px;
  padding: 1px 5px;
  position: absolute;
  top: -5%;
  left: 25%;
  background: #1f1704;
  font-weight: 500;
  font-size: 8px;
  color: #7c612f;
  font-family: Gilroy;
  opacity: 10;
}

.profile__slide__img {
  margin-top: 10px;
  width: 100%;
  max-width: 73px;
}

.profile__slide.active .profile__slide__title {
  color: #fed970;
  font-weight: 600;
  font-size: 12px;
}

.profile__slide__title {
  margin: 8px 0 8px 0;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}


/* ================content================= */

.profile__content__wrap {
  max-width: 927px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.profile__content__container {
  display: flex;
  flex-direction: column;
  background: #161003;
  border: 1px solid #251c06;
  border-radius: 16px;
  overflow: hidden;

}

.content__container__top {
  display: flex;
  gap: 34px;
  background: #1f1704;
  padding: 32px 28px;
}

.your__progress {
  background: #1f1704;
  border: 1px solid #3b2b0d;
  border-radius: 12px;
  max-width: 504px;
  width: 100%;
  position: relative;
}

.your__progress__top {
  background:
    linear-gradient(90deg, #9b4e26 0%, #351b0d 100%);
  background-size: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-position: center;
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
}

.progress__top__desc {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.progress__top__title {
  font-weight: 500;
  font-size: 14px;
  font-family: Gilroy;
}

.progress__top__text {
  font-weight: 600;
  font-size: 20px;
  font-family: Gilroy;
}

.your__progress__top img {
  position: absolute;
  top: -17.5px;
  right: -10px;
}

.your__progress__bottom {
  margin: 12px 12px 14px 12px;
  background: #251c06;
  border: 1px solid #3b2b0d;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.progress__to__next {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
}

.progress__to__next__title {
  font-weight: 500;
  font-size: 14px;
  font-family: Gilroy;
}

.progress__to__next__percent {
  font-weight: 500;
  font-size: 14px;
  font-family: Gilroy;
}

.progress__bottom__progressbar {
  margin: 0 20px 12px 20px;
  background: #e8b21d;
  width: 440px;
  height: 8px;
  border-radius: 8px;
}

.your__progress__tasks {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.progress__tasks__title {
  font-weight: 500;
  font-size: 14px;
  font-family: Gilroy;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.task {
  display: flex;
  background: url('../assets/img/levels/bg_task.png') no-repeat, rgba(255, 237, 189, 0.11);
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  width: 333px;
  padding: 8px;
}
.task::before{
  content: "";
  background: url('../assets/img/levels/task_icon.png') no-repeat ;
  width: 73px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

.task__desc {
  margin-left: 53px;
  display: flex;
  flex-direction: column;
}

.task__desc__top {
  font-weight: 400;
  font-size: 8px;
}

.task__desc__bottom {
  margin-top: 5px;
  font-weight: 600;
  font-size: 12px;
}

.task__progress {}

.change__task {}

.content__container__bottom {}

.container__bottom__title {}

.bonuses__level__container {}

.bonuse__level__item {}

.bonuse__item__title {}

.bonuse__item__desc {}

.rules {}

.rules__title {}















/* =================-FILTER______MODAL-===================== */

/* .filter__modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.filter__modal.active {
  display: flex;
}

.filter__modal__container {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  width: 1128px;
  max-height: 90vh;
  background: #0e0a01;
  border: 1px solid #1f1704;
  overflow: hidden;
  display: flex;
  flex-direction: column;
} */

.modal-overlay {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  display: none;
  top: 50px;
  z-index: 101;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: var(--gray-gray-900, #0e0a01);
  border-radius: 12px;
  width: 1128px;
  /* height: 610px; */
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal label {
  font-family: Gilroy;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 32px;
}

.tab {
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  color: #aaa;
  font-size: 16px;
  cursor: pointer;
  padding-top: 20px;
  width: 146px;
  height: 56px;
  border-bottom: 2px solid var(--gray-gray-400, #3b2b0d);
  margin-right: 20px;
}

.tab.active {
  color: white;
  border-bottom: 2px solid #ffc300;
}

.modal__overlay__tabs-icon {
  box-sizing: border-box;
  padding: 0 0;
  margin: 0 0;
  width: 20px;
  height: 20px;
}

.subtabs {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 10 auto;
  font-size: 14px;
  color: #aaa;
  margin-bottom: 32px;
}

.subtab.active {
  color: #ffc300;
  text-decoration: underline;
}

.modal__switch-html {
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.section {
  width: 1064px;
}

.input-row {
  display: flex;
  gap: 26px;
  margin-top: 10px;
  margin-bottom: 36px;
}

.input-box {
  background: var(--gray-gray-800, #161003);
  width: 519px;
  height: 110px;
  border-radius: 8px;
  flex: 1;
  color: white;
  font-size: 55px;
}

.input-box input {
  box-sizing: border-box;
  padding: 10px;
}

.input-box.large {
  height: 110px;
  width: 1064px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.bottom-button {
  width: 298px;
  height: 41px;
  margin-top: 46px;
  background: none;
  border: 1px solid #444;
  border-radius: 8px;
  color: #aaa;
  padding: 10px;
  cursor: pointer;
}

.crypto-grid {
  display: grid;
  grid-template-columns: repeat(4, 246px);
  gap: 24px;
  padding: 0;
  margin-top: 10px;
}

.input-box.selected {
  border: 2px solid #00aaff;
}

.input-box.crypto {
  width: 246px;
  height: 110px;
  margin-bottom: 24px;
}