@font-face {
  font-family: Gilroy;
  src: url("../assets/fonts/gilroy/Gilroy-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body.modal-open {
  overflow: hidden;
}

body {
  background-color: #0e0a01;
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow-x: hidden;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  background: #0e0a01;
  position: absolute;
  z-index: -100;
  top: 105px;
  left: 90px;
  width: 100%;
  height: 100%;
  max-width: 1353px;
}

p {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

input {
  outline: none;
  border: none;
}

input:focus {
  outline: none;
  border: none;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

img {
  max-width: 100%;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
}

svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
/* ===========КОНТЕЙНЕР МЕЙНА============= */

.first__wrap__main {
  max-width: 1200px;
  width: 100%;
}

.profile__title {
  font-weight: 500;
  font-size: 14px;
  color: #9f8f6b;
  user-select: none;
}

.profile__title span {
  text-decoration: underline;
}

.profile__main__container {
  display: flex;
  max-width: 1200px;
  width: 100%;
}

/*================= НАВИГАЦИЯ=============== */

.profile__nav {
  flex-direction: column;
  background: #161003;
  border: 1px solid #251c06;
  border-radius: 16px;
  max-width: 241px;
  overflow: hidden;
  padding: 16px 0;
  margin-right: 32px;
  max-height: 264px;
}

.profile__nav__item.active {
  background: #1f1704;
  color: #fff;
  border-left: 5px solid #e8b21d;
}

.profile__nav__item {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #7c612f;
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
}

.profile__nav__item span {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

/*============ правая часть контента мейна=================*/

.profile__right__part {
  position: relative;
}

.profile__slider__wrapper {
  position: absolute;
  left: -61px;
  width: 1070px;
  transform: translateY(-10px);
  pointer-events: auto;
  z-index: 1;
}

.profile__slider__container {
  width: 100%;
  height: 120px;
  position: absolute;
  left: 30px;
  overflow-x: auto;
  overflow-y: visible;
  /* добавляем! */
  white-space: nowrap;
  display: flex;
  cursor: grab;
  pointer-events: auto;
  scrollbar-width: none;
}

.profile__slider__container::-webkit-scrollbar {
  display: none;
}

.profile__slider {
  display: flex;
  gap: 12px;
  width: max-content;
  transform: translateY(10px);
}

.profile__slide__spacer {
  flex: 0 0 100px;
  /* или больше, сколько нужно для имитации скролла */
  pointer-events: none;
}

.profile__slide__spacer1 {
  flex: 0 0 20px;
  /* или больше, сколько нужно для имитации скролла */
  pointer-events: none;
}

.profile__slide.level__1 {
  background: linear-gradient(
    180deg,
    rgba(155, 78, 38, 0.5) 0%,
    rgba(53, 27, 13, 0) 100%
  );
}

.profile__slide {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 12px;
  width: 90px;
  height: 106px;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.profile__slide.active {
  opacity: 1;
  border: 1px solid #fed970;
}

.profile__slide.level__2 {
  background: url("../assets/img/levels/bg2.png");
}

.profile__slide.open.level__2 {
  background: url("../assets/img/levels/bg2.png"),
    linear-gradient(
      180deg,
      rgba(124, 229, 101, 0.5) 0%,
      rgba(53, 27, 13, 0) 100%
    );
}

.profile__slide.open.level__3 {
  background: url("../assets/img/levels/bg3.png"),
    linear-gradient(180deg, rgba(59, 59, 59, 0.5) 0%, rgba(59, 59, 59, 0) 100%);
}

.profile__slide.open.level__4 {
  background: linear-gradient(
    180deg,
    rgba(124, 229, 101, 0.5) 0%,
    rgba(53, 27, 13, 0) 100%
  );
}

.profile__slide.level__3 {
  background: url("../assets/img/levels/bg3.png");
}

.profile__slide.open.level__3 {
  background: url("../assets/img/levels/bg3.png"),
    linear-gradient(180deg, rgba(59, 59, 59, 0.5) 0%, rgba(59, 59, 59, 0) 100%);
}

.profile__slide.level__4 {
  background: url("../assets/img/levels/bg4.png");
}

.profile__slide.open.level__4 {
  background: url("../assets/img/levels/bg4.png"),
    linear-gradient(
      180deg,
      rgba(172, 87, 30, 0.5) 0%,
      rgba(172, 87, 30, 0) 100%
    );
}

.profile__slide.level__5 {
  background: url("../assets/img/levels/bg5.png");
}

.profile__slide.open.level__5 {
  background: url("../assets/img/levels/bg5.png"),
    linear-gradient(
      180deg,
      rgba(30, 101, 172, 0.5) 0%,
      rgba(30, 101, 172, 0) 100%
    );
}

.profile__slide.level__6 {
  background: url("../assets/img/levels/bg6.png");
}

.profile__slide.open.level__6 {
  background: url("../assets/img/levels/bg6.png"),
    linear-gradient(
      180deg,
      rgba(165, 78, 246, 0.5) 0%,
      rgba(165, 78, 246, 0) 100%
    );
}

.profile__slide.level__7 {
  background: url("../assets/img/levels/bg7.png");
}

.profile__slide.open.level__7 {
  background: url("../assets/img/levels/bg7.png"),
    linear-gradient(180deg, rgba(67, 67, 67, 0.5) 0%, rgba(67, 67, 67, 0) 100%);
}

.profile__slide.level__8 {
  background: url("../assets/img/levels/bg8.png");
}

.profile__slide.open.level__8 {
  background: url("../assets/img/levels/bg8.png"),
    linear-gradient(
      180deg,
      rgba(255, 104, 63, 0.5) 0%,
      rgba(255, 104, 63, 0) 100%
    );
}

.profile__slide.level__9 {
  background: url("../assets/img/levels/bg9.png");
}

.profile__slide.open.level__9 {
  background: url("../assets/img/levels/bg9.png"),
    linear-gradient(
      180deg,
      rgba(255, 127, 63, 0.5) 0%,
      rgba(255, 127, 63, 0) 100%
    );
}

.profile__slide.level__10 {
  background: url("../assets/img/levels/bg10.png") no-repeat,
    linear-gradient(180deg, #3b2b0d 0%, #93680f 100%);
  background-size: cover;
  /* если хочешь, чтобы растянулось */
  background-position: center;
}

.profile__slide.active::before,
.profile__slide.open::before {
  content: "";
  background: none;
}

.profile__slide::before {
  content: "";
  background: url("../assets/img/levels/lockIcon.png");
  width: 36px;
  height: 36px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile__slider__levels {
  position: relative;
}

.profile__slide__level {
  border-radius: 22px;
  padding: 1px 5px;
  position: absolute;
  top: -5%;
  left: 25%;
  background: #1f1704;
  font-weight: 500;
  font-size: 8px;
  color: #7c612f;
  font-family: Gilroy;
  opacity: 10;
  z-index: 100;
}

.profile__slide__level.level__10 {
  background: #e8b21d;
  color: #0e0a01;
}

.profile__slide__img {
  margin-top: 10px;
  width: 100%;
  max-width: 73px;
  user-select: none;
}

.profile__slide.open .profile__slide__img {
  transform: translateY(-3px) scale(1.2);
}

.profile__slide.active-lock {
  border: 1px solid #fed970;
  opacity: 1;
}

.profile__slide.active-lock .profile__slide__level {
  color: #fed970;
  border: 1px solid #fed970;
}

.profile__slide.active .profile__slide__level {
  background: #fed970;
  color: #000;
}

.profile__slide.active .profile__slide__title {
  color: #fed970;
  font-weight: 600;
  font-size: 12px;
}

.profile__slide__title {
  margin: 8px 0 8px 0;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

/* ================content================= */

.profile__content__wrap {
  max-width: 927px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 58px;
  margin-top: 140px;
}

.profile__content__container {
  display: flex;
  flex-direction: column;
  background: #161003;
  border: 1px solid #251c06;
  border-radius: 16px;
  overflow: hidden;
}

.content__container__top {
  display: flex;
  gap: 34px;
  background: url("../assets/img/levels/bg1_1.png") no-repeat, #1f1704;
  padding: 32px 28px;
}

.content__container__top.level__2 {
  background: url("../assets/img/levels/bg2_2.png") no-repeat, #1f1704;
}

.your__progress {
  background: #1f1704;
  border: 1px solid #3b2b0d;
  border-radius: 12px;
  max-width: 504px;
  width: 100%;
  position: relative;
}

.your__progress__top {
  background: linear-gradient(90deg, #9b4e26 0%, #351b0d 100%);
  background-size: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-position: center;
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
}

.your__progress__top.level__2 {
  background: linear-gradient(90deg, #357320 0%, #154b0d 100%);
}

.progress__top__desc {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.progress__top__title {
  font-weight: 500;
  font-size: 14px;
  font-family: Gilroy;
}

.progress__top__text {
  font-weight: 600;
  font-size: 20px;
  font-family: Gilroy;
}

.your__progress__top img {
  position: absolute;
  top: -17.5px;
  right: 0px;
}

.your__progress__bottom {
  margin: 12px 12px 14px 12px;
  background: #251c06;
  border: 1px solid #3b2b0d;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.progress__to__next {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
}

.progress__to__next__title {
  font-weight: 500;
  font-size: 14px;
  font-family: Gilroy;
}

.progress__to__next__percent {
  font-weight: 500;
  font-size: 14px;
  font-family: Gilroy;
}

.progress__bottom__progressbar__container {
  position: relative;
}

.progress__bottom__progressbar__active {
  margin: 0 20px 12px 20px;
  background: #e8b21d;
  width: 68px;
  height: 8px;
  border-radius: 8px;
  position: absolute;
}

.progress__bottom__progressbar {
  margin: 0 20px 12px 20px;
  background: #7c612f;
  width: 440px;
  height: 8px;
  border-radius: 8px;
}

.your__progress__tasks {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.progress__tasks__title {
  font-weight: 500;
  font-size: 14px;
  font-family: Gilroy;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.task {
  display: flex;
  background: url("../assets/img/levels/bg_task.png") no-repeat,
    rgba(255, 237, 189, 0.11);
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  width: 333px;
  max-height: 50px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.task::before {
  content: "";
  background: url("../assets/img/levels/task_icon.png") no-repeat;
  width: 73px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

.task__desc {
  margin-left: 53px;
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 53px;
}

.task__desc__top {
  font-weight: 400;
  font-size: 8px;
}

.task__desc__bottom {
  margin-top: 5px;
  font-weight: 600;
  font-size: 12px;
}

.task__progress {
  border: 3px solid #7c612f;
  border-radius: 36px;
  background: #3b2b0d;
  width: 34px;
  line-height: 34px;
  text-align: center;
  font-family: Gilroy;
  margin: 8px;
  position: relative;
}

.task__progress::before {
  content: "";
  background: url("../assets/img/levels/task__blick.svg");
  width: 17px;
  height: 17px;
  position: absolute;
  top: -2px;
  right: -2px;
}

.change__task {
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  font-family: Gilroy;
}

.content__container__bottom {
  display: flex;
  flex-direction: column;
  margin: 28px 28px 32px 28px;
}

.container__bottom__title {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 12px;
  font-family: Gilroy;
}

.bonuses__level__container {
  display: flex;
  gap: 17px;
}

.rules {
  border: 1px solid #251c06;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #161003;
  z-index: 10;
}

.rules .conditions {
  display: flex;
  justify-content: space-between;
  padding: 32px 28px;
  cursor: pointer;
}

.rules__title {
  font-weight: 500;
  font-size: 14px;
  font-family: Gilroy;
  user-select: none;
  z-index: auto;
}

.rules img {
  transition: all 0.2s;
  user-select: none;
}

.conditions__list {
  align-self: flex-start;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  align-items: start;
  gap: 3px;
  margin: 0 28px 32px 28px;
  font-weight: 400;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Gilroy;
  position: relative;
  cursor: pointer;
  max-width: 871px;
}

.conditions__list.active {
  display: flex;
}

.conditions.active {
  padding-bottom: 12px;
}

.conditions.active img {
  transform: rotate(180deg);
}

.modal-overlay {
  /* position: absolute;
  top: 0px;
  z-index: 101;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center; */
  position: fixed; /* фиксируется к вьюпорту */
  top: -100px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto; /* позволяет прокручивать модалку */
  padding: 100px 0 200px 0;
}

.modal {
  /* margin-top: 400px; */
  background: var(--gray-gray-900, #0e0a01);
  border-radius: 12px;
  width: 1128px;
  min-height: 610px;
  max-height: 934px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal label {
  font-family: Gilroy;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 32px;
  margin-right: 23%;
}

.tab {
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  color: #aaa;
  font-size: 16px;
  cursor: pointer;
  padding-top: 20px;
  width: 146px;
  height: 56px;
  border-bottom: 2px solid var(--gray-gray-400, #3b2b0d);
  margin-right: 20px;
}

.tab.active {
  color: white;
  border-bottom: 2px solid #ffc300;
}

.modal__overlay__tabs-icon {
  box-sizing: border-box;
  padding: 0 0;
  margin: 0 0;
  width: 20px;
  height: 20px;
}

.subtabs {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 10 auto;
  font-size: 14px;
  color: #aaa;
  margin-bottom: 32px;
}

.subtab.active {
  color: #ffc300;
  text-decoration: underline;
}

.modal__switch-html-deposit {
  /* display: none;
  opacity: 0;
  visibility: hidden; */
}

.section {
  width: 1064px;
}

.input-row {
  display: flex;
  gap: 26px;
  margin-top: 10px;
  margin-bottom: 36px;
}

.input-box {
  background: var(--gray-gray-800, #161003);
  width: 519px;
  height: 110px;
  border-radius: 8px;
  flex: 1;
  color: white;
  font-size: 55px;
}

.input-box input {
  box-sizing: border-box;
  padding: 10px;
}

.input-box.large {
  height: 110px;
  width: 1064px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.bottom-button {
  width: 298px;
  height: 41px;
  margin-top: 46px;
  background: none;
  border: 1px solid #444;
  border-radius: 8px;
  color: #aaa;
  padding: 10px;
  cursor: pointer;
}

.crypto-grid {
  display: grid;
  grid-template-columns: repeat(4, 246px);
  gap: 24px;
  padding: 0;
  margin-top: 10px;
}

.input-box.selected {
  border: 2px solid #00aaff;
}

.input-box.crypto {
  width: 246px;
  height: 110px;
  margin-bottom: 24px;
}

.modal__switch-html-withdraw {
  height: 961px;
  /* display: none;
  opacity: 0;
  visibility: hidden; */
}
.modal__switch-html-history {
  /* display: none;
  opacity: 0;
  visibility: hidden; */
}

.history-table {
  width: 1128px;
  border-collapse: collapse;
  background-color: #1a130a;
  font-size: 14px;
  table-layout: fixed;
}

.history-table thead {
  background-color: #2a1f11;
  color: #ccc;
}

.history-table th,
.history-table td {
  padding: 12px 15px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-family: Gilroy;
}

.type-button span {
  color: #fed970;
}

.type-button {
  background: #f9af1a42;
  font-family: Gilroy;
  border: none;
  color: #fff;
  padding: 5px 12px;
  border-radius: 4px;
  cursor: default;
  font-weight: 600;
  font-size: 14px;
}

.history-table-headers {
  width: 1128px;
  color: #e0caa3;
}

.subtab.unactive {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.modal__deposit__helpButton-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  width: 100%;
  color: white;
  margin-bottom: 57px;
}

.modal-title {
  margin: 0 auto;
  font-size: 16px;
  transform: translateX(-20px);
  font-size: Gilroy;
}

.back-button {
  margin-top: 34px;
}

.back-button,
.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 32px;
  margin-top: 36px;
}
.back-button img {
  padding: 0 0 0 32px;
  align-items: center;
}

.modal-content {
  display: flex;
  gap: 20px;
  width: 100%;
}

.left-panel {
  width: 217px;
  margin-left: 32px;
  /* height: 100%; */
  background-color: #2b200c;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: Gilroy;
  color: #ffffff;
  height: 101px;
}

.right-panel {
  flex: 1;
  background-color: #1c150a;
  border-radius: 15px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin-right: 32px;
  margin-bottom: 71px;
  height: 469px;
}

.top-text {
  margin-top: 54px;
  text-align: center;
  font-size: 20px;
  font-family: Gilroy;
  margin-bottom: 20px;
  color: #ffffff;
}

.input-group {
  width: 100%;
  position: relative;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.input-group input {
  background: var(--gray-gray-600, #231b0bb2);
  width: 362px;
  box-sizing: border-box;
  border: 1px solid var(--gray-gray-400, #3b2b0d);
  border-radius: 10px;
  padding: 14px;
  padding-right: 60px;
  color: #fff;
  font-size: 16px;
}
.input-group input::placeholder {
  color: var(--gray-gray-300, #7c612f);
}

.currency {
  position: relative;
  left: -40px;
  color: #ffffff;
  font-size: 14px;
}

.min-label {
  margin-top: 12px;
  font-size: 16px;
  font-family: gilroy;
  color: var(--gray-gray-300, #7c612f);
  font-weight: 400;
}

.amount-buttons {
  position: relative;
  left: -10px;
  width: 361px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 30px;
}

.amount-buttons button {
  flex: 1;
  background-color: #2c220f;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  padding: 16px 20px;
  color: var(--gray-gray-300, #7c612f);
  background: var(--gray-gray-600, #231b0bb2);
  border: 1px solid var(--gray-gray-400, #3b2b0d);
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
}
.amount-buttons button:nth-child(1) {
  width: 69px;
}
.amount-buttons button:nth-child(2) {
  width: 74px;
}
.amount-buttons button:nth-child(3) {
  width: 77px;
}
.amount-buttons button:nth-child(4) {
  width: 79px;
}
.amount-buttons button:hover {
  background-color: #3a2d17;
}

.submit-button {
  background: linear-gradient(to bottom, #ffcc57, #b8860b);
  border: none;
  border-radius: 10px;
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(255, 204, 87, 0.6);
}
/* .back__button-wrap {
  align-items: center;
  display: flex;
  align-items: center;
} */
.amount-buttons-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.deposit-window-button-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.modal__deposit__button-shadow-bgc-correct {
  position: absolute;
  top: 3px;
  box-sizing: border-box;
  left: -3px;
  height: 44px;
  width: 362px;
  background-color: #251c06;
  z-index: 3;
  visibility: visible;
  border-radius: 5.3px;
  transform: skew(-10deg);
}
.modal__deposit__button-shadow-bgc {
  position: absolute;
  top: 0;
  left: 0;
  height: 44px;
  width: 362px;
  background-color: #251c06;
  z-index: 4;
  border-radius: 5.3px;
  transform: skew(-10deg);
}
.modal__deposit__button-shadow {
  position: absolute;
  top: 0;
  left: -1px;
  width: 362px;
  height: 44px;
  border: 1px solid #251c06;
  border-radius: 5.3px;
  transform: skew(-10deg) translate(-4px, 3px);
  z-index: 1;

  box-shadow: 0px -3.76px 8.84px 0px #0e0a0187 inset;

  border: 1.33px solid #ffda75;

  border-radius: 5.3px;
}

.modal__deposit__button-signin {
  display: block;
  background:
    /* linear-gradient(
      0deg,
      var(--gray-gray-700, #1f1704),
      var(--gray-gray-700, #1f1704)
    ), */ linear-gradient(
      0deg,
      rgba(249, 176, 26, 0.5),
      rgba(249, 176, 26, 0.5)
    ),
    linear-gradient(
      175.46deg,
      rgba(249, 176, 26, 0.1) 21.26%,
      rgba(255, 255, 255, 0.1) 49.63%,
      rgba(249, 176, 26, 0.1) 93.33%
    ),
    radial-gradient(
      26.11% 174.07% at 35.42% 25%,
      rgba(249, 176, 26, 0.3) 0%,
      rgba(249, 176, 26, 0) 63.51%
    );

  color: #ffffff;
  text-shadow: 0 0 5px #fff, 0 0 10px #ffc14173;
  font-size: 18px;
  border: #0e0a01;
  position: relative;
  z-index: 4;
  border-radius: 5.3px;
  height: 44px;
  width: 362px;
  transform: skew(-10deg);
  cursor: pointer;
  overflow: visible;
  border: 1.33px solid #ffda75;
}
.modal__deposit__button-signin::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 1px;
  background: #e8b21d;
  left: -5px;
  bottom: -1px;
  transform: rotate(-55deg);
}
.modal__deposit__button-container {
  left: -10px;
  position: relative;
  width: fit-content;
  box-sizing: border-box;
  width: 362px;
  margin-top: 24px;
  margin-left: 36px;
  margin-right: 20px;
}
.modal-sepoit-window-open {
  width: 100%;
}
.modal-tabs-wrap {
  display: flex;
  width: 100%;
  justify-content: end;
}
.modal-tabs-wrap img {
  width: 20px;
  height: 20px;
  padding-top: 35px;
  padding-right: 32px;
}
